body
{ margin: 0; padding: 0; 
}
#map
{ position: absolute; top: 0; bottom: 0; width: 100%; 
}
.layers {
    background: white;
    position: absolute;
    z-index: 1;
    top: 200px;
    right: 10px;
    border-radius: 3px;
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

.layers button {
    font-size: 13px;
    color: black;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
    background-color: rgb(116, 116, 197);
}
.layers button span{
    color: black;
}

.layers button:hover {
    background-color: #f8f8f8;
    background: #3074a4;
    cursor: pointer;
}
